<mat-toolbar color="primary">
    <button mat-button routerLink=""><h1 style="font-size: 23px">Intersky</h1></button>
    <span fxFlex></span>
    <button mat-button routerLink="/CCTV">CCTV</button>
    <button mat-button routerLink="/Alarm">Alarm</button>
    <button mat-button routerLink="/AccessControl">Access Control</button>
    <button mat-button routerLink="AboutUs">About Us</button>
    <button mat-button routerLink="ContactUs">Contact Us</button>
    <span class="fill-space"></span>
</mat-toolbar>
