<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let items of cctvtabs" (click)="onClick(selectedItem = items.id)">
		{{items.menu}}
	</a>
</nav>

<mat-form-field class="spacing">
    <mat-label>CCTV Brand</mat-label>
    <mat-select (selectionChange)="applyFilter($event.value)">
        <mat-option value="allbrands">
            All Brands
        </mat-option>
        <mat-option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<img src={{imageSrc}} alt="goods">
<mat-table [dataSource]="filterItems" matSort class="spacing">
    <ng-container matColumnDef="Brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Brand </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Model">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Quality">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quality </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quality}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Transmission">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Transmission </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transmission}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>