<p>items works!</p>
<form [formGroup]="myForm" (ngSubmit)="addCCTVs()" novalidate>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="brand" formControlName="brand">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="model" formControlName="model">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="quality" formControlName="quality">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="type" formControlName="type">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="lens" formControlName="lens">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="lenstype" formControlName="lenstype">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="transmission" formControlName="transmission">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="protection" formControlName="protection">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ir" formControlName="ir">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="audioin" formControlName="audioin">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="powersupply" formControlName="powersupply">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="link" formControlName="link">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="price" formControlName="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="featured" formControlName="featured">
        </mat-form-field>
    </div>
    <button class="btn btn-secondary mr-1" mat-button>Ok</button>
    <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()" mat-button>Reset</button>
</form>

<tr *ngFor="let cat of items">
    <td>{{cat.model}}</td>
    <td>{{cat.price}}</td>
    <td>{{cat.features}}</td>
</tr>
