<mat-card class="example-card">

  <mat-card-header>
    <mat-card-title>Hikvision Mini-O-Plus</mat-card-title>
    <mat-card-subtitle>Stand Alone</mat-card-subtitle>
  </mat-card-header>
  
  <div class="box">
  	<img  mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51YNd4Y7bsL._SL1500_.jpg" alt="Photo of a Hikvision Mini-O-Plus" class ="image-card">
	<mat-card-content class="specs">
	    <p>Specs:-</p>
	    <p>1080P</p>
	    <p>Micro</p>
	    <p>SD card</p>
	</mat-card-content>
  </div>
  
  
</mat-card>